h1
{
    font-size: 28pt;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
    font-family: 'Courgette', cursive;
}

h2
{
    font-size: 14pt;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.contactField
{
    width: 95%;
    max-width: 95%;
    border: 1px solid #DDD; 
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: black; 
    outline: none;
    font-size: 14pt;
    padding: 2%;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#chooseRange
{
    border: 1px solid #DDD; 
    display: block;
    border-radius: 5px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: black; 
    outline: none;
    font-size: 14pt;
    padding: 2%; 
    font-family: 'Courgette', cursive;
}

.floatRight
{
    float: right;
    font-family: 'Courgette', cursive;
    font-size: 14px;
}

#formDiv
{
    margin-top: 30px;
}

body
{
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #A7A7A7),
    color-stop(0.51, #E4E4E4)
    );
    background-attachment: fixed;
    font-family: 'Courgette', cursive;
    /*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Portrait layout (default) */
.app
{
    /*background:url(../img/logo.png) no-repeat center top;*/ /* 170px x 200px */
    height: auto; /* text area height */
    width: auto; /* text area width */
    /*text-align:center;*/
    margin: 2em;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px)
{
    .app
    {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

.event
{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening
{
    background-color: #333333;
    display: block;
}

.event.received
{
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
from { opacity: 1.0; }
50% { opacity: 0.4; }
to { opacity: 1.0; }
}
textarea
{
    resize: none;
}
#distanceTo
{
    display: none;
}

textarea:focus, input[type="text"]:focus
{
    border-color: rgba(248, 147, 54, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(248, 147, 54, 0.6);
    outline: 0 none;
}

button
{
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
    background: -moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
    background-color: #77d42a;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 0;
    border: 1px solid #268a16;
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    font-style: normal;
    height: 40px;
    line-height: 36px;
    width: 99%;
    max-width: 99%;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #aade7c;
    border-radius: 5px;
    margin: 0 auto;
}
button:active
{
    position: relative;
    top: 1px;
}

.stopButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
    }